<!DOCTYPE html>
<html>
<head>
	<title>Grow Internationals</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container">
	<header class="jumbotron">
	    <div>
		     <h1> Grow Internationals</h1>
		     <p>We Grow Together</p>
		     <p> 
		       <a class ="btn btn-primary btn_large" href="/campgrounds/new"> languages</a> 
		     </p>
	     </div>
	</header>

</body>
</html>